{% extends "::base.html.twig" %}
{% block body %}
<h1>Public area</h1>
<table>
<thead>
<td>Key</td>
<td>Value</td>
</thead>
<tbody>
{% for server,value  in app.request.server%}
<tr><td>{{server}}</td><td>{{value}}</td></tr>
{% endfor %}
</tbody>
</table>
{% endblock body %}
